<h1>{{transactionForm.editing ? "Edit" : "Add New"}} Transaction</h1>

<form
	name="transaction-form"
	ng-submit="transactionForm.submitTransaction()"
	class="transactions-form"
>
	<input
		type="text"
		placeholder="Enter Title"
		ng-model="transactionForm.name"
		required
	>
	<input
		type="number"
		placeholder="Enter Amount"
		ng-model="transactionForm.amount"
		required
	>
	<div class="transaction-controls">
		<button ui-sref="transactions">Cancel</button>
		<button type="submit">Save</button>
	</div>
</form>
